<footer class="footer">




<div id="footinfo">
    <h5>
        Contact Us
    </h5>

    <p>
        This is the paragraph where you can put anyinformation to inform the customer
    </p>
</div>

<div id="linkbar">
    <p>
        <a href="{% url 'home' %}">Home</a> |
         <a href="{% url 'privacy' %}">Privacy Policy</a> |
         Sitemap |
         <a href="{% url 'terms' %}">Terms of Use</a> |
         <a href="{% url 'email' %}">Contact</a>
    </p>
</div>

<div class="footerbottom"><div id="copyright">
 Your company &copy; 2017
</div>

<div id="webdesign">
    Kevbarbour web designs
</div>
</div>


</footer>