{% load staticfiles %}
<script src="{% static "js/kkeeper-jquery.js" %}"></script>
<script src="{% static "js/jquery-3.2.1.js" %}"></script>
<script type="text/javascript" src="{{ STATIC_URL }} js/jquery-3.2.1.js"></script>

<div class="banner">
	<img id="logo" src=" /static/images/LOGO.jpg">

	<div class="bannerinfo">

	</div>
</div>

<nav id="menu">
    <ul class="menu bar">
        <li class="{% if active_tab == 'tab1' %} active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
        <li class="{% if active_tab == 'tab2' %} active{% endif %}"><a href="{% url 'products' %}">Products</a></li>
        <li class="{% if active_tab == 'tab3' %} active{% endif %}"><a href="{% url 'about' %}">About</a></li>
        <li class="{% if active_tab == 'tab4' %} active{% endif %}"><a href="{% url 'careers' %}">Careers</a></li>
        <li class="{% if active_tab == 'tab5' %} active{% endif %}"><a href="{% url 'email' %}">Contact</a></li>
    </ul>

    <a class="toggle-nav" href="#">&#9776;</a>

</nav>



