{% extends 'base.html' %} 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}About Us {% endblock %}</title>
</head>

<title> 
	{% block pagecontent %}

</title>


<body class="bodyabout">
	{% include 'partials/nav-bar.html' with active_tab='tab3' %}
	<div class="content">
		<h1 class="heading">
		About
		</h1>
		
		<p>
		    Krypto Keeper began as a project for new people entering the CryptoCurrency industry who do not know the
            major players or understand the history.
		</p>

        <h3>Values</h3>
        <p>
            Krypto Keeper is dedicated to projecting the unbiased truth about the professional achievement of
            each of the highlighted members of the community.
        </p>

        <h4>Company Goal</h4>
        <p>
            -The primary goal of Krypto Keeper is so a newbie can quickly and easily look into the profiles of each
            person listed on the site and gather a fundamental understanding of who to follow. Understanding the key
            players involved in any major movement is an essential component for the prediction of its success or
            failure.
            <br><br>
            -The secondary goal is to help recognise the members of the community for professional achievement in a
            groundbreaking industry.
            </p>
    
    </div>
	
	{% include 'partials/footer.html' %}

{% endblock %}
</body>
</html>