{% extends 'base.html' %} 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Careers{% endblock %}</title>
</head>

<title> 
	{% block pagecontent %}
</title>


<body class="bodycareers">
	{% include 'partials/nav-bar.html' with active_tab='tab4' %}
	<div class="content">
		<h1>Careers</h1>
        <p>
		    Krypto Keeper is currently a non profit organization. If you would like to contribute to the effort,
            please send us a message from the contact page.
		</p>
    </div>

	{% include 'partials/footer.html' %}

{% endblock %}
</body>
</html>