{% extends 'base.html' %}
<!--{% block additional_styles %}

{% endblock %}-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}KryptoKeeper{% endblock %}</title>
	<meta name="description" content="A website dedicated to the community of Crypto Currency and block chain technology" />
	<meta name="keywords" content="krypto,keeper,blockchain,block,chain,bitcoin" />
</head>

<title> 
	{% block pagecontent %}
</title>

<body class="bodyindex">
	{% include 'partials/nav-bar.html' with active_tab='tab1'%}


    <div class="transparent1">
    </div>

	<div class="content">	
		
		<h1 class="heading">
		Welcome
		</h1>

		<p class="paragraph">
		This is the Krypto Keeper, created to keep track of the movers and shakers of the crypto currency world.

        </p>
		
		<h2 class="heading">
		News
		</h2>
		
		<p class="paragraph">
		-5 Jan 2018: Launched Website
	
		</p>
		
	</div>
	{% include 'partials/footer.html' %}
	{% endblock %}
</body>

</html>
