{% extends 'base.html' %}
<!--{% block additional_styles %}

{% endblock %}-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}The title of your website goes here{% endblock %}</title>
	<meta name="description" content="this is the meta that will appear in google" />
	<meta name="keywords" content="tags for your website seperated by comas" />
</head>

<title> 
	{% block pagecontent %}
</title>

<body class="bodyindex">
	{% include 'partials/nav-bar.html' with active_tab='tab1'%}


    <div class="transparent1">
    </div>

	<div class="content">	
		
		<h1 class="heading">
		Welcome
		</h1>
		
		<p class="paragraph">
		Welcome to your new website, this is a section that can include information about the company
		</p>
		
		<h2 class="heading">
		News
		</h2>
		
		<p class="paragraph">
		In production
	
		</p>
		
	</div>
	{% include 'partials/footer.html' %}
	{% endblock %}
</body>

</html>
